
# Avaliação Prática — Fundamentos de Pandas (Módulo 3)

Esta avaliação contém **10 questões** de nível introdutório sobre **Pandas** e **análise de dados**.
O foco é demonstrar domínio das operações básicas de **importação**, **inspeção** e **manipulação simples** de DataFrames.

**Instruções gerais:**
- Responda **apenas** nas células de código logo abaixo de cada enunciado.
- Execute a célula **Setup** antes de começar.
- Utilize o arquivo CSV fornecido: **`avaliacao_empresa.csv`** (na mesma pasta deste notebook).

In [1]:

# Setup (execute esta célula primeiro — não alterar)
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", 30)
pd.set_option("display.max_columns", 30)
print("Ambiente pronto.")

Ambiente pronto.

### Questão 1) Importe o arquivo CSV e crie um DataFrame chamado `df`.

In [3]:
# Insira o código que importa o .csv e o transforma em DataFrame (há um método que faz as duas coisas)
# Dica: use pd.read_csv(...)
# CAMINHO = "avaliacao_empresa.csv"
# df = ...

df = pd.read_csv('avaliacao_empresa.csv')

### Questão 2) Mostre os **5 primeiros** elementos do DataFrame.

In [4]:
# Escreva o comando para visualizar as 5 primeiras linhas do DataFrame
# ...

print(df.head())

   id_funcionario    nome departamento  turno     cidade        data  \
0               2   Bruno    Operacoes  Tarde   Campinas  2025-01-01
1               3   Carla           TI  Noite  Sao Paulo  2025-01-08
2               4   Diego       Vendas  Manha   Campinas  2025-01-15
3               5  Elaine    Operacoes  Tarde  Sao Paulo  2025-01-22
4               6   Fabio           TI  Noite   Campinas  2025-01-29

   vendas_qtd  ticket_medio  faturamento     custo     lucro  \
0          56         975.0      54600.0  41435.15  13164.85
1          50         415.0      20750.0  10791.38   9958.62
2          55         107.0       5885.0   4287.17   1597.83
3          11         755.0       8305.0   4328.67   3976.33
4          44         456.0      20064.0  11597.60   8466.40

   horas_trabalhadas  salario
0                166     8086
1                142     8703
2                130     8221
3                147     4954
4                158     6378

### Questão 3) Exiba as **informações gerais** do DataFrame (tipos de dados e nulos).

In [5]:
# Use o método apropriado para ver tipos de dados e contagem de nulos
# ...

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id_funcionario     26 non-null     int64
 1   nome               26 non-null     object
 2   departamento       26 non-null     object
 3   turno              26 non-null     object
 4   cidade             26 non-null     object
 5   data               26 non-null     object
 6   vendas_qtd         26 non-null     int64
 7   ticket_medio       26 non-null     float64
 8   faturamento        26 non-null     float64
 9   custo              26 non-null     float64
 10  lucro              26 non-null     float64
 11  horas_trabalhadas  26 non-null     int64
 12  salario            26 non-null     int64
dtypes: float64(4), int64(4), object(5)
memory usage: 2.8+ KB
None

### Questão 4) Mostre o **formato (linhas, colunas)** e a **lista de colunas** do DataFrame.

In [12]:
# Mostre df.shape e df.columns
# ...

print(df.shape) 

print(df.columns)

(26, 13)
Index(['id_funcionario', 'nome', 'departamento', 'turno', 'cidade', 'data',
       'vendas_qtd', 'ticket_medio', 'faturamento', 'custo', 'lucro',
       'horas_trabalhadas', 'salario'],
      dtype='object')

### Questão 5) Exiba as **estatísticas descritivas** das colunas numéricas (média, min, max, etc.).

In [ ]:
# Utilize o método para estatísticas descritivas
# ...
descrição = df.describe()
print(descrição)

### Questão 6) Selecione apenas as colunas `nome` e `departamento` e mostre as **5 primeiras** linhas.

In [ ]:
# Selecione as colunas solicitadas e mostre 5 primeiras linhas
# ...

nome = df['nome']
print(nome.head())

departamento = df['departamento']
print(departamento.head())

0     Bruno
1     Carla
2     Diego
3    Elaine
4     Fabio
Name: nome, dtype: object
0    Operacoes
1           TI
2       Vendas
3    Operacoes
4           TI
Name: departamento, dtype: object

### Questão 7) Filtre os registros do **turno 'Noite'** e **conte** quantos registros existem.

In [48]:
# Filtre df['turno'] == 'Noite' e conte as linhas resultantes
# ...
df[df['turno'] == 'Noite'].count()

id_funcionario       9
nome                 9
departamento         9
turno                9
cidade               9
data                 9
vendas_qtd           9
ticket_medio         9
faturamento          9
custo                9
lucro                9
horas_trabalhadas    9
salario              9
mes                  9
dtype: int64

### Questão 8) O código abaixo converte as datas de texto para data e em seguida cria uma coluna mês para os dados.
Mostre as **5 primeiras** linhas de `df[['data','mes']]`.

In [13]:
df['data']=pd.to_datetime(df['data'],errors='coerce')
df['mes']=df['data'].dt.to_period('M').astype(str)
df[['data','mes']]
#Insira o seu código aqui

cabeça = df['data']=pd.to_datetime(df['data'],errors='coerce')

print(cabeça.head())

0   2025-01-01
1   2025-01-08
2   2025-01-15
3   2025-01-22
4   2025-01-29
Name: data, dtype: datetime64[ns]

### Questão 9) O código abaixo agrupa e soma os valores por mes no DataFrame fat.
Mostre os **3 meses** com maior faturamento.

In [ ]:
faturamento = df.groupby('mes',as_index=False)['faturamento'].sum()

mes             2025-06
faturamento    135267.0
dtype: object

### Questão 10) Calcule a **média de salário por departamento** e mostre em **ordem decrescente**.

In [40]:
#df.groupby('departamento',as_index=False)['salario'].mean().sort_values('salario',ascending=False)
salarios_por_departamento = df.groupby('departamento',as_index=False)['salario']
#Insira seu código aqui

salarios_por_departamento.mean().sort_values('salario', ascending=False)

  departamento      salario
1           TI  6795.444444
2       Vendas  6554.875000
0    Operacoes  6239.111111


---
## Extra (não avaliativo) — Demonstração de visualização

O gráfico abaixo mostra a **distribuição do faturamento por mês e por departamento** (barras empilhadas).  
**Ação do aluno:** **apenas execute** a célula para observar o resultado e refletir sobre variações por mês e por área.

In [ ]:

# ▶️ Execute esta célula (não alterar o código)
# Pré-requisitos: df já carregado; coluna 'data' convertida; coluna 'mes' criada (Questões 1 e 8).
df['data'] = pd.to_datetime(df['data'], errors='coerce')
df['mes'] = df['data'].dt.to_period('M').astype(str)

fat_mes_dep = df.groupby(['mes','departamento'], as_index=False)['faturamento'].sum()
pivot = fat_mes_dep.pivot(index='mes', columns='departamento', values='faturamento').fillna(0)

ax = pivot.plot(kind='bar', stacked=True, figsize=(10,6))
ax.set_title("Faturamento por Mês e Departamento (barras empilhadas)")
ax.set_xlabel("Mês (YYYY-MM)")
ax.set_ylabel("Faturamento (R$)")
import matplotlib.pyplot as plt
plt.xticks(rotation=45)
plt.tight_layout()
plt.show()